html {
/* These background attributes will change depending on the page */
    /* background-image: url("../600pixel_square.png"); */
    /* background-size: 100% 100%;  */
    /* To stretch an image to always fit. 
     Remove to make the background image repeat. */
    --bg-color: #221a1a;
    --text-color: #ffffff;
    --hilite-color: #000000;
    --visited-color: #aaaaaa;
    /* For just a solid color */
    /* background-color: var(--bg-color);  */

    background: conic-gradient(from 304deg at 12% -10% in hsl shorter hue, rgb(48, 21, 27) 50%, #491d25ff 55%, #230b0dff 73%);

    font-family: "Briel Nib Bold", Courier, monospace;
    font-size: x-large;
}

body {
    margin: 0;

    display: flex;
    justify-content: space-between;
    --comic-page-width: 800px;
    --shrink-factor: 0.95;
    /* --comic-page-height: 1000px; */
}

/* These don't affect image sizes, 
    but they do affect the text section sizes*/
@media screen and (min-width: 1500px) {
    body {
        --comic-page-width: 1400px;
    }
}

@media screen and (min-width: 2400px) {
    body {
        --comic-page-width: 2000px;
    }
}

body, 
footer {
    /* Can change color depending on page */
    color: var(--text-color);
    text-align: center;
}

footer {
    font-size: large;
    font-family: "Briel Fixed Width", Courier, monospace;
}

/* Selects the big navigation buttons to the side of the page */
body > a.nav-button {
    width: max(0px, 0.25 * (100vw - var(--comic-page-width)));
    max-height: 100%;
}

@media screen and (max-width: 800px) {
    body {
        --shrink-factor: 1;
    }

    body > a.nav-button {
        display: none;
    }
}

h2 {
    /* margin-top: 0.5em; */
    margin-top: 0;
    margin-bottom: 0;
    font-weight: inherit;
    /* font-family: "Briel Fixed Width Bold"; */
}

/* main {
    display: flex;
    justify-content: space-between;
    --comic-page-width: 800px;
    --comic-page-height: 1000px;
} */

/* main a.nav-button {
    width: max(0px, 0.25 * (100vw - var(--comic-page-width)));
    max-height: 100%;
} */

/* main {
    align-items: center;
} */

section[id="desc_section"], 
section[id="tag_section"],
section[id="cw_section"] {
    border-left: 0.3em solid var(--text-color);
    border-right: 0.3em solid var(--text-color);
    /* border-top: 0.1em dashed var(--visited-color);
    border-bottom: 0.1em dashed var(--text-color); */
    border-radius: 0.7em;
    /* border-top-left-radius: 1em; */
    /* border-bottom-right-radius: 0.5em; */
    max-width: calc(var(--shrink-factor) * var(--comic-page-width) - (2 * 0.14em + 2 * 0.5em + 1em));
    margin: 0.5em auto;
    padding: 0.3em 1em;
    /* padding-bottom: 1em; */
}

/* selects paragraph elements directly preceded by header 2 elements */
h2 + p {
    /* padding-left: 10vw;
    padding-right: 10vw; */
    margin-top: 0;
    margin-bottom: 0;
}

h2 + p.text-desc {
    font-family: "Courier New", Courier, monospace;
    font-size: large;
}

nav {
    /* Make font size of text in the nav pane (previous, next, etc.) 4 
    points bigger than the inherited size */
    font-size: x-large;
    /* border-left: 0.3em solid var(--visited-color);
    border-right: 0.3em solid var(--text-color);
    border-radius: 0.2em; */

}

a:link {
    color: inherit;
    padding: 0.1em;
    border-radius: 0.1em;
}

a:visited {
    /* Can change color depending on page */
    color: var(--visited-color)
}

a:hover {
    /* font-style: oblique; */
    /* Can change color depending on page */
    color: var(--text-color);
    background: var(--hilite-color);
}

a.text_desc_heading {
    /* Keeps # links from looking like links */
    color: inherit;
    text-decoration: inherit;
    background: inherit;
}

/* .nav-button {
    display: inline-block;
    width: 33vw;
} */

.nav-line {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(var(--shrink-factor) * var(--comic-page-width));
    /* width: 0.75 * (100vw - var(--comic-page-width)); */
    /* border-bottom: 0.1em dotted var(--text-color);
    border-radius: 0.5em; */
    margin: 0 auto;

}

.nav-line a.nav-button {
    display: block;
    flex: 1 12em;
    padding: 0.5em;
    border-radius: 0;
    text-align: center;
    /* border-left: 0.1em dotted var(--text-color);
    border-right: 0.1em dotted var(--text-color);
    border-radius: 0.5em; */
    --nav-btn-brdr-radius: 0.3em;
}

.nav-line a.prev-button, 
.nav-line a.prev-upd8-button, 
.nav-line a.archive-button {
    border-right: 0.1em solid var(--text-color);
    /* border-left: none; */
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
    border-top-right-radius: var(--nav-btn-brdr-radius);
    border-bottom-right-radius: var(--nav-btn-brdr-radius);
}

.nav-line a.next-button, 
.nav-line a.next-upd8-button, 
.nav-line a.archive-button {
    border-left: 0.1em solid var(--text-color);
    border-top-left-radius: var(--nav-btn-brdr-radius);
    border-bottom-left-radius: var(--nav-btn-brdr-radius);
    /* border-right: none; */
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}

.nav-line a.next-button, 
.nav-line a.prev-button {
    border-width: 0.056em;
    font-size: larger;
}

.nav-line a.next-button {
    /* border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; */
}

.nav-line a.prev-button {
    /* border-top-right-radius: 2em;
    border-bottom-right-radius: 2em; */
}

.nav-line a.home-button {
    /* border: 0.15em solid var(--text-color);
    border-radius: 0.25em;
    border-top: none;
    border-bottom: none; */
}

.prev-button {}

.next-button {}

/* .page-display {
    --comic-page-width: 800px;
    --comic-page-height: 1000px;
} */

/* .page-display a.nav-button {
    width: max(0px, 0.25 * (100vw - var(--comic-page-width)));
    max-height: 100%;
} */

.page-display img.comic-page {
    /* margin: clamp(0px, 0.1*(100vw - 1080px), 5vh) auto; */
    max-width: 100%;
    /* Change 8vh for the default preferred top margin  */
    margin-top: clamp(0px, 0.5*(100vw - var(--comic-page-width)), 8vh);
}

/* @media screen and (width <= 1080) {
    .comic-page {
        margin: 0 auto;
    }
} */

/* Change 1000px for the minimum height of the page */
/* @media screen and (min-height: 1000px) {
    .page-display img.comic-page {
        margin: calc(0.5 * (100vh - 1000px)) auto;
    }
} */

/* 4k responsive text */
/* @media screen and (min-width: 1990px) {
    body, html {font-size: 2vh;}
} */

/* .description-link {
    text-align: center;
} */
