html {
    font-family: "Briel Nib", Courier, monospace;
    font-size: x-large;

    --bg-color: hsl(42, 100%, 89%);
    --title-color: hsl(6, 100%, 23%);
    --text-color: hsl(350, 100%, 12%);
    --link-color: hsl(345, 71%, 50%);
    --visited-color: hsl(355, 47%, 42%);
    --hilite-color: hsl(30, 100%, 78%);
    --button-color: hsl(52, 96%, 90%);
    /* --button-light-emboss-color: hsl(54, 47%, 77%); */
    --button-shadow-emboss-color: hsl(40, 34%, 67%);
    --sect-border-color: hsl(27, 55%, 26%);
    --bg-gradient: conic-gradient(from 330deg at 30% -20% in hsl shorter hue, hsl(10, 71%, 80%) 30%, hsl(42, 100%, 89%) 50%, hsl(18, 73%, 70%) 100%);

    --thumbnail-size: 100px;

    color: var(--text-color);
    background-color: var(--bg-color);
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

@media screen and (min-width: 1921px) {
    html {
        font-size: xx-large;
    }
}

body {
    
}

h1 {
    font-family: "Briel Marker", Courier, monospace;
    color: var(--title-color);
    margin: 0;
    text-align: center;
    font-size: 4em;
    font-weight: inherit;
}

h2 {
    font-family: "Briel Nib Bold", Courier, monospace;
    margin: auto;
}

header, main, footer {
    margin: 0.2em 1em;
    
}

footer {
    text-align: center;
}

footer > p {
    font-size: large;
    font-family: "Briel Fixed Width", Courier, monospace;
}

h3,
h4 {
    font-family: "Briel Nib Bold", Courier, monospace;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

form {
    font-size: unset;
    text-align: left;
}

/* Normalize forms, so font and box size changes affect forms */
button,
input,
select,
textarea {
    font-size: 100%;
    border-radius: 0.2rem; 
}

input[type="search"] {
    /* flood-color: var(--bg-color); */
    background-color: var(--bg-color);
    border-color: var(--button-shadow-emboss-color);
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    padding: 0.42rem 0.4rem 0.28rem;
    margin: 0;
    margin-bottom: 0.2em;
    /* padding-bottom: inherit; */
}

button {
    color: inherit; 
    background-color: var(--button-color);
    border-color: var(--button-shadow-emboss-color);
    padding: 0.27rem 0.4rem 0.28rem;
    font-family: "Briel Nib Bold", Courier, monospace;
    margin: auto;
}

form button {
    text-align: center;
}

label {
    font-size: smaller;
    font-family: "Briel Fixed Width", Courier, monospace;
}

label[for="search"] {
    display: block;
    margin: 0.3em 0.4em;
}

div.search-check {
    padding: 0.1em;
    padding-right: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.3em;
    display: inline-block;
    border-radius: 0.3em;
    background-color: var(--button-color);
}

a:link {
    border-radius: 0.1em;
    color: var(--link-color);
}

main {
    margin-bottom: 1em;
    text-align: center;
}

main button {
    font-size: smaller;
}

a:hover {
    background-color:var(--hilite-color);
}

a:visited {
    color: var(--visited-color);
}

.archive-entry,
.search-entry {
    display: block;
    text-align: left;
    /* background: conic-gradient(from 200deg at 10% 150% in hsl shorter hue, hsl(18, 73%, 70%) 17%, hsl(42, 100%, 89%) 52%, hsl(10, 71%, 72%) 87%); */
    background-color: var(--bg-color);
    border: 0.14em solid var(--sect-border-color);
    border-top-width: 0.1em;
    border-bottom-width: 0.1em;
    border-radius: 0.2em; 
    padding: 0.4em 0.2em;
    margin: 0.5em auto 1em;
}

@media screen and (width >= 600px) {
    .archive-entry, 
    .search-entry {
        display: flex;
    }
}

.detail-div {
    margin: 0 0.5em;
}

.archive-entry .detail-div {
    flex: 1;
}

.thumbnails-div {
    margin: 0 0.3em;
    flex-wrap: wrap;
}

.search-entry .thumbnails-div {
    max-width: var(--thumbnail-size);
}

.archive-entry .thumbnails-div {
    flex: 1;
}

.thumbnails-div a {
    /* display: inline; */
    /* flex-wrap: wrap; */
    padding: 0.2em;
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    max-width: var(--thumbnail-size);
    max-height: var(--thumbnail-size);
    font-size: small;
}

/* .thumbnails-div av img {
    
} */

.archive-entry .thumbnails-div a {
    flex: 1;
}

.archive-entry h4, 
.search-entry h4 {
    display: inline;
}

.archive-pos {
    /* background-color: var(--bg-color); */
    text-align: center;
    font-family: "Briel Nib Bold", Courier, monospace;
}